.no-data-found{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    background-color: #00000003;
}

.no-data-found > .info{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (prefers-color-scheme: dark){

    .no-data-found{
        
        box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
        background-color: #00000003;
    }

}